{% extends '@IServCrud/Crud/index.html.twig' %}
{% import '@IServCrud/macros.html.twig' as crudm %}
{% import '@StsblSendMailAsGroup/macros.html.twig' as m %}

{% block stylesheets %}
    {{ parent() }}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => groupmail.css -->
    {% endif %}
    <link rel="stylesheet" href="{{ asset('css/groupmail.css', 'stsbl_send_mail_as_group') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% if app.environment != 'prod' %}
	<!-- {{ _self }} => mail-as-group_form.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/mail-as-group_form.js', 'stsbl_send_mail_as_group') }}"></script>
    
    {% if app.environment != 'prod' %}
	<!-- {{ _self }} => mail-as-group_autocomplete.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/mail-as-group_autocomplete.js', 'stsbl_send_mail_as_group') }}"></script>

    {% if app.environment != 'prod' %}
	<!-- {{ _self }} => mail-as-group_scroll.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/mail-as-group_scroll.js', 'stsbl_send_mail_as_group') }}"></script>
{% endblock %}

{% block content %}
    <div class="btn-toolbar container container-block">
        <div class="col-md-10"></div>
        <div class="pull-right" id="groupmail-jmp-btn-container">
            {{ crudm.linkButton(path('group_mail_index') ~ '#groupmail-compose-hook', _('Jump to compose e-mail'), 'circle-arrow-down', 'btn-link') }}
        </div>
    </div>
    <div class="groupmail-spacer-30"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _('E-mail archive') }}</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">{{ _('Below you can search for e-mails which were send in the past in name of the groups where you are a member.') }}</div>
        </div>
    </div>
    {{ parent() }}
    <div class="groupmail-spacer-15"></div>
    <span id="groupmail-compose-hook"></span>
    <div class="alert alert-info">{{ _('The e-mail will stored in the mail archive after sending.') }}</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _('Send a new e-mail') }}</h3>
        </div>
        <div class="panel-body">
            {{ form(compose_form) }}
        </div>
    </div>
{% endblock %}
